.block {
    display: block;
}

.hide {
    display: none;
}

.textAlignRight {
    text-align: right;
}

.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.inlineBlock {
    display: inline-block;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.absolute {
    position: absolute;
}

.height100 {
    height: 100%;
}

.width100 {
    width: 100%;
}

.opacityZero {
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.opacityOne {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.no-scroll {
    overflow-y: hidden;
}

.no-clickable {
    pointer-events: none;
}