.block {
    display: block;
}

.hide {
    display: none;
}

.text-align-right {/*cambiare*/
    text-align: right;
}

.text-align-left {/*cambiare*/
    text-align: left;
}

.text-align-center {/*cambiare*/
    text-align: center;
}

.inline-block {/*cambiare*/
    display: inline-block;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.absolute {
    position: absolute;
}

.height-100 {/*cambiare*/
    height: 100%;
}

.width-100 {/*cambiare*/
    width: 100%;
}

.opacity-zero {/*cambiare*/
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.no-scroll {
    overflow-y: hidden;
}

.no-clickable {
    pointer-events: none;
}