@import 'fonts.css';
@import 'generalClasses.css';

/************** GENERAL ******************/

*, h1 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald-Light', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/**************** HEADER ******************/
header::after {
    content: " ";
    display: table;
    clear: both;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.logo {
    float: left;
    width: 35%;
    margin: 0;
}

#logoImage {
    width: 100%;
}

nav {
    width: 65%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

nav li {
    margin: 7px 4px;
    padding: 1px;
}

.navFullScreen {
    display: block;
    position: static;
    transform: translateY(0%);
    width: 80%;
    margin-top: 70px;
    margin-left: 20%;
}

nav.navFullScreen li {
    border: 1px black solid;
    border-radius: 0px 0 0 25px;
    padding: 12px 0 12px 7px;
    margin: 0 2px 0 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8365721288515406) 18%, rgba(255,0,0,1) 100%);
}

nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
}

#ulSmallScreen a {
    font-size: 22px;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

#ulSmallScreen li:hover {
    background-color: red;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#iconBar {
    background-color: rgb(255, 255, 255);
}

/********** SLIDER **********/
.slider {
    max-width: 100%;
    height: calc(100vh - 40.391px);
    margin: 0px auto 0px auto;
}

.slide-viewer {
    overflow: hidden;
    height: 100%;
    position: relative;
}
  
.slide-group {
    width: 100%;
    height: 100%;
    position: relative
}

.slide-1 {
    background: url(../img/live1.jpg) no-repeat center / cover;
}

.slide-2 {
    background: url(../img/live2.jpg) no-repeat center / cover;
}

.slide-3 {
    background: url(../img/live3.jpg) no-repeat center / cover;
}

.slide-4 {
    background: url(../img/live4.jpg) no-repeat center / cover;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
  
.slide:first-child {
    display: block;
}
  
.slide-buttons {
    text-align: center;
    background-color: #000;
    padding: 5px 0 5px 0;
}
  
.slide-btn {
    border: none;
    background: none;
    color: #fff;
    font-size: 250%;
    line-height: 0.5em;
}
  
.slide-btn.active, .slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;
}

/********** CONCERTI **********/

#concerti {
    min-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/sfondo-concerti.jpg) no-repeat center / cover fixed;
    color: #fff;
}

.title-container {
    width: 80%;
    padding-top: 90px;
    margin: 0 auto 40px auto;
}

div#concerti h1 {
    font-size: 45px;
}

.divide-content {
    height: 1px;
    width: 80%;
    background-color: #fff;
    margin: 20px auto;
}

.container-live {
    display: flex;
    margin: 0 10%;
    align-items: center
}

.container-giorno {
    display: flex;
    width: 40%;
    align-items: center;
}

.giorno-concerto {
    font-size: 30px;
}

.info-concerto {
    display: flex;
    width: 53%;
    margin-left: 5%;
}

.evento-locale {
    display: flex;
    width: 46%;
    margin: 0 2%;
    align-items: center;
    font-size: 23px;
}

.luogo {
    display: flex;
    width: 46%;
    margin: 0 2%;
    font-size: 23px;
}

.fine-lista-concerti {
    width: 100%;
    height: 100px;
}

