@media (max-width: 219.98px) { /*minimal*/
   
    /*********** HEADER ************/    
    header {
        min-height: 65px;
    }

    .logo {
        float: none;
        width: 70%;
        margin: 0;
    }

    #navBar {
        float: right;
        cursor: pointer;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slide-viewer {
        height: 150px;
    }      
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 200%;
    }

}

@media (min-width: 220px) and (max-width: 499.98px) { /*Smarthphone*/
 
    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        width: 70%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slide-viewer {
        height: 250px;
    }      

    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 200%;
    }

}

@media (min-width: 500px) and (max-width: 959.98px)  { /*Small*/    

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        min-width: 300px;
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 35px;
        height: 5px;
        margin: 5px;
    }

    /*********** SLIDER ************/
    .slide-viewer {
        height: 400px;
    }
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 200%;
    }

}
    
@media (min-width: 960px) and (max-width: 1279.98px) { /*Medium*/
    
    /*********** SLIDER ************/
    .slide-viewer {
        height: 600px;
    }        
    
}
    
@media (min-width: 1280px) { /*Large*/
        
}