@media (max-width: 219.98px) { /*minimal*/
   
    /*********** LOADER ************/

    .music {
        width: 40%;
    }

    .bar {
        width: 5px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 40px;
        }
    }            

    /*********** HEADER ************/    
    header {
        min-height: 65px;
    }

    .logo {
        float: none;
        width: 70%;
        margin: 0;
    }

    #navBar {
        float: right;
        cursor: pointer;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 150px;
    }
    
    .slide-viewer {
        height: 100%;
    }      
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
        text-align: center;
    }

    .container-live {
       display: block;
       width: 80%;
    }

    .container-giorno {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .giorno-concerto {
        font-size: 22px;
        margin: 0 auto;
        text-align: center;
    }

    .info-concerto {
        display: block;
        width: 100%;
        margin: 0;
    }

    .evento-locale {
        font-size: 19px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .luogo {
        font-size: 19px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .gallery li {
        width: 85%;
        margin: 30px 7.5%;
    }

    .gallery li {
        width: 90%;
        margin: 30px 5%;
    }

    .gallery li a p {
        font-size: 0.9em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 120px;
    }

    .item {
        width: 30%;
    }

    .items .button-container {
        width: 77%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 45px;
        height: 45px;
    }

}

@media (min-width: 220px) and (max-width: 299.98px) { /*Smarthphone*/

    /*********** LOADER ************/

    .music {
        width: 40%;
    }

    .bar {
        width: 5px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 50px;
        }
    }            

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        width: 70%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 155px;
    }
    
    .slide-viewer {
        height: 100%;
    }      

    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 300%;
        padding: 0 5px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
        text-align: center;
    }

    .container-live {
       display: block;
       width: 80%;
    }

    .container-giorno {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .giorno-concerto {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .info-concerto {
        display: block;
        width: 100%;
        margin: 0;
    }

    .evento-locale {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .luogo {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .gallery li {
        width: 80%;
        margin: 30px 10%;
    }

    .gallery li a p {
        font-size: 0.9em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 120px;
    }

    .item {
        width: 30%;
    }

    .items .button-container {
        width: 77%;
    }


    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 45px;
        height: 45px;
    }

}

@media (min-width: 300px) and (max-width: 359.98px) { /*Smarthphone*/

    /*********** LOADER ************/

    .music {
        width: 40%;
    }

    .bar {
        width: 5px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 50px;
        }
    }            

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        width: 70%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 200px;
    }
    
    .slide-viewer {
        height: 100%;
    }      

    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 300%;
        padding: 0 5px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
        text-align: center;
    }

    .container-live {
       display: block;
       width: 80%;
    }

    .container-giorno {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .giorno-concerto {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .info-concerto {
        display: block;
        width: 100%;
        margin: 0;
    }

    .evento-locale {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .luogo {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .gallery li {
        width: 65%;
        margin: 30px 17.5%;
    }

    .gallery li a p {
        font-size: 0.9em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 150px;
    }

    .item {
        width: 30%;
    }

    .items .button-container {
        width: 77%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 360px) and (max-width: 439.98px) { /*Smarthphone*/
 
    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 5px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 50px;
        }
    }        

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        width: 70%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 250px;
    }
    
    .slide-viewer {
        height: 100%;
    }      

    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 300%;
        padding: 0 5px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
        text-align: center;
    }

    .container-live {
       display: block;
       width: 80%;
    }

    .container-giorno {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .giorno-concerto {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .info-concerto {
        display: block;
        width: 100%;
        margin: 0;
    }

    .evento-locale {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .luogo {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .gallery li {
        width: 65%;
        margin: 30px 17.5%;
    }

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 150px;
    }

    .item {
        width: 26%;
    }

    .items .button-container {
        width: 68%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 440px) and (max-width: 499.98px) { /*Smarthphone*/

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 7px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 50px;
        }
    }        

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        width: 70%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 30px;
        height: 5px;
        margin: 4px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 300px;
    }
    
    .slide-viewer {
        height: 100%;
    }      

    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 300%;
        padding: 0 5px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
        text-align: center;
    }

    .container-live {
       display: block;
       width: 80%;
    }

    .container-giorno {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .giorno-concerto {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .info-concerto {
        display: block;
        width: 100%;
        margin: 0;
    }

    .evento-locale {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .luogo {
        font-size: 22px;
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .gallery li {
        width: 60%;
        margin: 30px 20%;
    }

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 180px;
    }

    .item {
        width: 24%;
    }

    .items .button-container {
        width: 60%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 500px) and (max-width: 599.98px)  { /*Small*/    

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 7px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        min-width: 300px;
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 35px;
        height: 5px;
        margin: 5px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 350px;
    }
    
    .slide-viewer {
        height: 100%;
    }
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 280%;
        padding: 0 4px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
    }

    .giorno-concerto {
        font-size: 24px;
    }

    .evento-locale {
        font-size: 19px;
    }

    .luogo {
        font-size: 19px;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .container-albums {
        margin: 30px 10%;
    }

    .gallery li {
        width: 45%;
        margin: 40px 2.5%;
    }

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 200px;
    }

    .item {
        width: 24%;
    }

    .items .button-container {
        width: 60%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 600px) and (max-width: 759.98px)  { /*Small*/    

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 9px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        min-width: 300px;
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 35px;
        height: 5px;
        margin: 5px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 400px;
    }
    
    .slide-viewer {
        height: 100%;
    }
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 280%;
        padding: 0 4px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
    }

    .giorno-concerto {
        font-size: 24px;
    }

    .evento-locale {
        font-size: 19px;
    }

    .luogo {
        font-size: 19px;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .container-albums {
        margin: 30px 10%;
    }

    .gallery li {
        width: 45%;
        margin: 40px 2.5%;
    }

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 230px;
    }

    .item {
        width: 22%;
    }

    .items .button-container {
        width: 24%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 760px) and (max-width: 959.98px)  { /*Small*/    

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 9px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }

    /*********** HEADER ************/
    header {
        min-height: 65px;
    }

    .logo {
        float: left;
        min-width: 300px;
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
    }

    #navBar {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    #iconBar {
        display: block;
        width: 35px;
        height: 5px;
        margin: 5px;
    }

    /*********** SLIDER ************/
    .slider {
        height: 500px;
    }
    
    .slide-viewer {
        height: 100%;
    }
    
    .slide-buttons {
        padding: 0;
    }

    .slide-btn {
        font-size: 280%;
        padding: 0 4px;
        line-height: 0.7em;
    }

    /*********** CONCERTI ************/

    #concerti {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/sfondo-concerti.jpg) no-repeat center / cover;    
    }

    div#concerti h1 {
        font-size: 35px;
    }

    .giorno-concerto {
        font-size: 24px;
    }

    .evento-locale {
        font-size: 19px;
    }

    .luogo {
        font-size: 19px;
    }
    
    /*********** ALBUMS ************/

    .albums-background {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
                url(../img/albums.jpg) no-repeat center / cover;    
    }

    .container-albums {
        margin: 30px 5%;
    }

    .gallery li a p {
        font-size: 0.9em;
    }

    /*********** FOTO ************/

    .galleria-container {
        margin: 30px 0;
    }

    .items {
        height: 230px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

    .foto-galleria {
        width: 100%;
    }

    .navigate-left, .navigate-right {
        width: 55px;
        height: 55px;
    }

}

@media (min-width: 960px) and (max-width: 1019.98px) { /*Medium*/

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 9px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }    

    /*********** SLIDER ************/
    .slider {
        height: 570px;
    }
    
    .slide-viewer {
        height: 100%;
    }        
 
    /*********** ALBUMS ************/

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .foto-galleria {
        width: 100%;
    }

    .items {
        height: 230px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1020px) and (max-width: 1069.98px) { /*Medium*/

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 9px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }    

    /*********** SLIDER ************/
    .slider {
        height: 630px;
    }
    
    .slide-viewer {
        height: 100%;
    }        
    
    /*********** ALBUMS ************/

    .gallery li a p {
        font-size: 1em;
    }

    /*********** FOTO ************/

    .foto-galleria {
        width: 100%;
    }

    .items {
        height: 250px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1070px) and (max-width: 1149.98px) { /*Medium*/

    /*********** LOADER ************/

    .music {
        width: 30%;
    }

    .bar {
        width: 9px;
    }

    @keyframes loader {
        0%, 100% {
            height: 2px;
        }

        50% {
            height: 65px;
        }
    }    

    /*********** SLIDER ************/
    .slider {
        height: 680px;
    }
    
    .slide-viewer {
        height: 100%;
    }        
    
    /*********** FOTO ************/

    .foto-galleria {
        width: 100%;
    }

    .items {
        height: 250px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1150px) and (max-width: 1279.98px) { /*Medium*/
    
    /*********** SLIDER ************/
    .slider {
        height: 720px;
    }
    
    .slide-viewer {
        height: 100%;
    }        
 
    /*********** FOTO ************/

    .foto-galleria {
        width: 100%;
    }

    .items {
        height: 250px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1280px) and (max-width: 1350.98px) { /*Large*/
         
    /*********** SLIDER ************/
    .slider {
        height: 750px;
    }
    
    .slide-viewer {
        height: 100%;
    }        
       
    /*********** FOTO ************/
    .items {
        height: 250px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1351px) and (max-width: 1499.98px) { /*Large*/
      
    /*********** FOTO ************/
    .items {
        height: 250px;
    }

    .item {
        width: 18%;
    }

    .items .button-container {
        width: 20%;
    }

}

@media (min-width: 1500px) { /*Large*/

}